@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$font-lato: "Karla", sans-serif;
$font-congose: "cocogoose", sans-serif;
$padding-square: 30px 30px;
$flex-col-gap: 40px;
$table-padding: 20px 20px;
$breakpoint-tablet: 768px;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: var(--lato-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  color: var(--color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

button {
  background-color: rgb(175, 172, 172);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(248, 246, 246);
  border: none;
  color: rgb(59, 55, 55);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

header {
  h1 {
    padding: $padding-square;
    font-family: $font-lato;
  }
}

main {
  display: flex;
  justify-content: flex-start;
  padding: $padding-square;
  column-gap: $flex-col-gap;

  section {
    display: flex;
    flex-direction: column;
    width: 50%;

    div {
      display: flex;
      column-gap: $flex-col-gap;

      h2 {
        font-family: $font-lato;
        flex: 2;
      }

    }

    table {
      margin-top: 30px;
      border: 3px solid #302b2b9e;
      border-collapse: collapse;

      tr {
        th {
          border: 3px solid rgba(75, 69, 69, 0.651);
          padding: 20px 20px;
          font-family: $font-lato;
        }
      }

      tbody {
        tr {
          td {
            border: 3px solid rgba(75, 69, 69, 0.651);
            padding: 10px 10px;
          }
        }
      }

      tr:nth-child(even) {
        background-color: rgb(175, 172, 172);
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 50vw;

    form {
      display: flex;
      flex-direction: column;

      input[type=text],
      input[type=number] {
        border: none;
        border-bottom: 2px solid rgba(75, 69, 69, 0.651);
        height: 40px;
        padding: $table-padding;
        margin: 20px;
      }

      button[type=submit] {
        width: auto;
        float: right;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  main {
    display: flex;
    flex-direction: column-reverse;
    padding: $padding-square;
    row-gap: $flex-col-gap;

    section {
      width: 100%;

      h2 {
        font-family: $font-congose;
        font-size: large;
      }
    }

    aside {
      width: 100%;
    }
  }
}
